<div class="row justify-content-center">
    <div class="col-12">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-projekat-heading" jhiTranslate="akcioniPlanApp.projekat.home.createOrEditLabel">Create or edit a Projekat</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <!--<div class="form-group" [hidden]="!projekat.id">-->
                <!--<label for="id" jhiTranslate="global.field.id">ID</label>-->
                <!--<input type="text" class="form-control" id="id" name="id"-->
                <!--[(ngModel)]="projekat.id" readonly />-->
                <!--</div>-->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akcioniPlanApp.projekat.naziv" for="field_naziv">Naziv</label>
                    <input type="text" class="form-control" name="naziv" id="field_naziv"
                           [(ngModel)]="projekat.naziv" required minlength="1" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.naziv?.dirty && editForm.controls.naziv?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.naziv?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.naziv?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                            This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.naziv?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                            This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-sm-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="akcioniPlanApp.projekat.datumOd" for="field_datumOd">Datum Od</label>
                            <div class="input-group">
                                <input id="field_datumOd" type="text" class="form-control" name="datumOd" ngbDatepicker  #datumOdDp="ngbDatepicker" [(ngModel)]="projekat.datumOd"
                                />
                                <span class="input-group-append">
                                <button type="button" class="btn btn-secondary" (click)="datumOdDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="akcioniPlanApp.projekat.datumDo" for="field_datumDo">Datum Do</label>
                            <div class="input-group">
                                <input id="field_datumDo" type="text" class="form-control" name="datumDo" ngbDatepicker  #datumDoDp="ngbDatepicker" [(ngModel)]="projekat.datumDo"
                                />
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="datumDoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akcioniPlanApp.projekat.lokacija" for="field_lokacija">Lokacija</label>
                    <input type="text" class="form-control" name="lokacija" id="field_lokacija"
                           [(ngModel)]="projekat.lokacija" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akcioniPlanApp.projekat.opisMere" for="field_opisMere">Opis Mere</label>
                    <input type="text" class="form-control" name="opisMere" id="field_opisMere"
                           [(ngModel)]="projekat.opisMere" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akcioniPlanApp.projekat.odgovornaOsoba" for="field_odgovornaOsoba">Odgovorna Osoba</label>
                    <input type="text" class="form-control" name="odgovornaOsoba" id="field_odgovornaOsoba"
                           [(ngModel)]="projekat.odgovornaOsoba" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akcioniPlanApp.projekat.izvorFinansiranja" for="field_izvorFinansiranja">Izvor Finansiranja</label>
                    <input type="text" class="form-control" name="izvorFinansiranja" id="field_izvorFinansiranja"
                           [(ngModel)]="projekat.izvorFinansiranja" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akcioniPlanApp.projekat.ostalo" for="field_ostalo">Ostalo</label>
                    <input type="text" class="form-control" name="ostalo" id="field_ostalo"
                           [(ngModel)]="projekat.ostalo" />
                </div>
                <!--<div class="form-group">-->
                <!--<label class="form-control-label" jhiTranslate="akcioniPlanApp.projekat.slika" for="field_slika">Slika</label>-->
                <!--<div>-->
                <!--<img [src]="'data:' + projekat.slikaContentType + ';base64,' + projekat.slika" style="max-height: 100px;" *ngIf="projekat.slika" alt="projekat image"/>-->
                <!--<div *ngIf="projekat.slika" class="form-text text-danger clearfix">-->
                <!--<span class="pull-left">{{projekat.slikaContentType}}, {{byteSize(projekat.slika)}}</span>-->
                <!--<button type="button" (click)="clearInputImage('slika', 'slikaContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">-->
                <!--<fa-icon [icon]="'times'"></fa-icon>-->
                <!--</button>-->
                <!--</div>-->
                <!--<input type="file" id="file_slika" (change)="setFileData($event, projekat, 'slika', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>-->
                <!--</div>-->
                <!--<input type="hidden" class="form-control" name="slika" id="field_slika"-->
                <!--[(ngModel)]="projekat.slika" />-->
                <!--<input type="hidden" class="form-control" name="slikaContentType" id="field_slikaContentType"-->
                <!--[(ngModel)]="projekat.slikaContentType" />-->
                <!--</div>-->

                <!--<div class="form-group">-->
                <!--<label class="form-control-label" jhiTranslate="akcioniPlanApp.projekat.akcioniPlan" for="field_akcioniPlan">Akcioni Plan</label>-->
                <!--<select class="form-control" id="field_akcioniPlan" name="akcioniPlan" [(ngModel)]="projekat.akcioniPlan"  required>-->
                <!--<option *ngIf="!editForm.value.akcioniPlan" [ngValue]="null" selected></option>-->
                <!--<option [ngValue]="akcioniPlanOption.id === projekat.akcioniPlan?.id ? projekat.akcioniPlan : akcioniPlanOption" *ngFor="let akcioniPlanOption of akcioniplans; trackBy: trackAkcioniPlanById">{{akcioniPlanOption.naziv}}</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div [hidden]="!(editForm.controls.akcioniPlan?.dirty && editForm.controls.akcioniPlan?.invalid)">-->
                <!--<small class="form-text text-danger"-->
                <!--[hidden]="!editForm.controls.akcioniPlan?.errors?.required" jhiTranslate="entity.validation.required">-->
                <!--This field is required.-->
                <!--</small>-->
                <!--</div>-->
            </div>
            <!--<jhi-projekat-bodovanje *ngIf="projekat.id" [projekatId]="projekat.id" #projekatBodovanjeRef></jhi-projekat-bodovanje>-->

            <div class="p-4">
                <form [formGroup]="form">
                    <hr>
                    <h4>Bodovanje projekta</h4>
                    <hr>
                    <table class="container" formArrayName="projekti">
                        <thead>
                        <tr class="row">
                            <th class="col-sm-9 d-none d-sm-block text-center align-bottom font-weight-bold"></th>
                            <th class="col-sm-1 d-none d-sm-block rotate text-center font-weight-bold"><div>Bodovi</div></th>
                            <th class="col-sm-1 d-none d-sm-block rotate text-center font-weight-bold"><div>Ponderisanje</div></th>
                            <th class="col-sm-1 d-none d-sm-block rotate text-center font-weight-bold"><div>Ukupno</div></th>
                        </tr>
                        <tr class="row">
                            <th class="col-sm-6 text-center align-bottom font-weight-bold border-success border-bottom">Kriterijum</th>
                            <th class="col-sm-3 text-center align-bottom font-weight-bold border-success border-bottom">Vrednost</th>
                            <th class="col-sm-3 d-none d-sm-block text-center align-bottom font-weight-bold border-success border-bottom"></th>
                            <th class="col-sm-1 d-block d-sm-none text-center font-weight-bold border-success border-bottom">Bodovi</th>
                            <th class="col-sm-1 d-block d-sm-none text-center font-weight-bold border-success border-bottom">Ponderisanje</th>
                            <th class="col-sm-1 d-block d-sm-none text-center font-weight-bold border-success border-bottom">Ukupno</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let r of rows.controls; let i = index" [formGroupName]="i" class="row">
                            <td class="col-sm-6 text-right font-weight-bold border-success border-bottom">{{r.value.kriterijum}}</td>
                            <td class="col-sm-3 text-right font-weight-bold border-success border-bottom">

                                <input *ngIf="r.value.tip == 'VREDNOST'" class="right" type="number" (ngModelChange)="izracunaj(r)" formControlName="vrednost" placeholder="Vrednost">

                                <select *ngIf="projekat.id && r.value.tip == 'BOD'" (ngModelChange)="izracunaj(r)" formControlName="vrednost" placeholder="Vrednost">

                                    <option *ngFor="let b of projekatBodovanjes[i].kriterijum.kriterijumBodovanjes" [ngValue]=b.bodovi>{{ b.opis }}</option>

                                </select>

                                <select *ngIf="!projekat.id && r.value.tip == 'BOD'" (ngModelChange)="izracunaj(r)" formControlName="vrednost" placeholder="Vrednost">

                                    <option *ngFor="let k of kriterijums[i].kriterijumBodovanjes" [ngValue]=k.bodovi>{{ k.opis }}</option>

                                </select>
                            </td>

                            <td class="col-sm-1 text-right font-weight-bold border-success border-bottom">{{r.value.bodovi}}</td>
                            <td class="col-sm-1 text-right font-weight-bold border-success border-bottom">{{r.value.ponder}}</td>
                            <td class="col-sm-1 text-right font-weight-bold border-success border-bottom">{{r.value.ponderisaniBodovi}}</td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-11"></td>
                            <td class="col-sm-1 text-right font-weight-bold border-success border-bottom">{{projekat.ukupnoBodova}}</td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>

            <div class="float-right">
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
