{{kb|json}}
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-kriterijum-heading" jhiTranslate="akcioniPlanApp.kriterijum.home.createOrEditLabel">Create or edit a Kriterijum</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!kriterijum.id">
                    <!--<label for="id" jhiTranslate="global.field.id">ID</label>-->
                    <!--<input type="text" class="form-control" id="id" name="id"-->
                        <!--[(ngModel)]="kriterijum.id" readonly />-->
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akcioniPlanApp.kriterijum.naziv" for="field_naziv">Naziv</label>
                    <input type="text" class="form-control" name="naziv" id="field_naziv"
                        [(ngModel)]="kriterijum.naziv" required minlength="1" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.naziv?.dirty && editForm.controls.naziv?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.naziv?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.naziv?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.naziv?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akcioniPlanApp.kriterijum.ponder" for="field_ponder">Ponder</label>
                    <input type="number" class="form-control" name="ponder" id="field_ponder"
                        [(ngModel)]="kriterijum.ponder" required/>
                    <div [hidden]="!(editForm.controls.ponder?.dirty && editForm.controls.ponder?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ponder?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.ponder?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="akcioniPlanApp.kriterijum.kriterijumTip" for="field_kriterijumTip">Kriterijum Tip</label>
                    <select class="form-control" name="kriterijumTip" [(ngModel)]="kriterijum.kriterijumTip" id="field_kriterijumTip"  required>
                        <option value="BOD">{{'akcioniPlanApp.KriterijumTip.BOD' | translate}}</option>
                        <option value="VREDNOST">{{'akcioniPlanApp.KriterijumTip.VREDNOST' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.kriterijumTip?.dirty && editForm.controls.kriterijumTip?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.kriterijumTip?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <!--{{ form.value | json}}-->
                <div class="containter p-4">
                    <form [formGroup]="form">
                        <table formArrayName="bodovanje">
                            <thead>
                            <tr class="row">
                                <!--<th><span jhiTranslate="global.field.id">ID</span></th>-->
                                <!--<th class="font-weight-bold col-sm-2"><span jhiTranslate="akcioniPlanApp.kriterijumBodovanje.rb">Rb</span></th>-->
                                <!--<th class="font-weight-bold col-sm-3" *ngIf="kriterijum.kriterijumTip == 'VREDNOST'"></th>-->
                                <th class="font-weight-bold col-sm-9 text-center border-success border-top border-bottom" *ngIf="kriterijum.kriterijumTip == 'VREDNOST'"><span jhiTranslate="akcioniPlanApp.kriterijumBodovanje.granica">Granica do</span></th>
                                <th class="font-weight-bold col-sm-9 text-center border-success border-top border-bottom" *ngIf="kriterijum.kriterijumTip == 'BOD'"><span jhiTranslate="akcioniPlanApp.kriterijumBodovanje.opis">Opis</span></th>
                                <th class="font-weight-bold col-sm-3 text-center border-success border-top border-bottom"><span jhiTranslate="akcioniPlanApp.kriterijumBodovanje.bodovi">Bodovi</span>&nbsp;<fa-icon [icon]="'sort'" (click)="promeniBodovanje()"></fa-icon></th>


                                <!--<th><span jhiTranslate="akcioniPlanApp.kriterijumBodovanje.kriterijum">Kriterijum</span></th>-->
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let r of rows.controls; let i = index" [formGroupName]="i" class="row">

                                <!--<td class="font-weight-bold col-sm-1">{{r.value.rb}}</td>-->
                                <td *ngIf="kriterijum.kriterijumTip == 'VREDNOST' && r.value.rb !== 4" class="font-weight-bold col-sm-5 text-right border-success border-bottom">{{r.value.granicaOd}}</td>
                                <input *ngIf="kriterijum.kriterijumTip == 'VREDNOST' && r.value.rb !== 4" class="font-weight-bold right col-sm-4 border-success border-bottom border-top-0 border-right-0 border-left-0" type="number" (ngModelChange)="popuniGranicaOd(r)" formControlName="granicaDo" placeholder="Granica">
                                <td *ngIf="kriterijum.kriterijumTip == 'VREDNOST' && r.value.rb === 4" class="font-weight-bold col-sm-5 text-right border-success border-bottom">{{r.value.granicaOd}}</td>
                                <td *ngIf="kriterijum.kriterijumTip == 'VREDNOST' && r.value.rb === 4" class="font-weight-bold col-sm-4 text-right border-success border-bottom"></td>
                                <input *ngIf="kriterijum.kriterijumTip == 'BOD'" class="font-weight-bold right col-sm-9 border-success border-bottom border-top-0 border-right-0 border-left-0" formControlName="opis" placeholder="Opis">
                                <td class="font-weight-bold col-sm-3 border-success border-bottom">{{r.value.bodovi}}</td>

                            </tr>

                            <!--<tr *ngFor="let kriterijumBodovanje of kriterijumBodovanjes ;trackBy: trackId">-->
                                <!--&lt;!&ndash;<td><a [routerLink]="['/kriterijum-bodovanje', kriterijumBodovanje.id, 'view' ]">{{kriterijumBodovanje.id}}</a></td>&ndash;&gt;-->
                                <!--<td>{{kriterijumBodovanje.rb}}</td>-->
                                <!--<td *ngIf="kriterijum.kriterijumTip == 'VREDNOST'">{{kriterijumBodovanje.granica}}</td>-->
                                <!--<td *ngIf="kriterijum.kriterijumTip == 'BOD'">{{kriterijumBodovanje.opis}}</td>-->
                                <!--<td>{{kriterijumBodovanje.bodovi}}</td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="float-right">
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
