<div>
    <h2 id="page-heading">
        <span jhiTranslate="akcioniPlanApp.kriterijumBodovanje.home.title">Kriterijum Bodovanjes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-kriterijum-bodovanje"
                [routerLink]="['./new']"
                queryParamsHandling="merge"
                >
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="akcioniPlanApp.kriterijumBodovanje.home.createLabel">
            Create new Kriterijum Bodovanje
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="kriterijumBodovanjes">
        <table class="table table-striped">
            <thead>
            <tr>
            <!--<th><span jhiTranslate="global.field.id">ID</span></th>-->

            <th *ngIf="tip === 'VREDNOST'"><span jhiTranslate="akcioniPlanApp.kriterijumBodovanje.granica">Granica</span></th>
            <th *ngIf="tip === 'BOD'"><span jhiTranslate="akcioniPlanApp.kriterijumBodovanje.opis">Opis</span></th>
            <th><span jhiTranslate="akcioniPlanApp.kriterijumBodovanje.bodovi">Bodovi</span></th>


            <!--<th><span jhiTranslate="akcioniPlanApp.kriterijumBodovanje.kriterijum">Kriterijum</span></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let kriterijumBodovanje of kriterijumBodovanjes ;trackBy: trackId">
                <!--<td><a [routerLink]="['/kriterijum-bodovanje', kriterijumBodovanje.id, 'view' ]">{{kriterijumBodovanje.id}}</a></td>-->
                <td *ngIf="tip === 'VREDNOST'">{{kriterijumBodovanje.granica}}</td>
                <td *ngIf="tip === 'BOD'">{{kriterijumBodovanje.opis}}</td>
                <td>{{kriterijumBodovanje.bodovi}}</td>


                <!--<td>-->
                    <!--<div *ngIf="kriterijumBodovanje.kriterijum">-->
                        <!--<a [routerLink]="['../kriterijum', kriterijumBodovanje.kriterijum?.id, 'view' ]" >{{kriterijumBodovanje.kriterijum?.naziv}}</a>-->
                    <!--</div>-->
                <!--</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/kriterijum-bodovanje', kriterijumBodovanje.id, 'view' ]"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<fa-icon [icon]="'eye'"></fa-icon>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        <!--</button>-->
                        <button type="submit"
                                [routerLink]="['./', kriterijumBodovanje.id, 'edit']"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'kriterijum-bodovanje/'+ kriterijumBodovanje.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
